/* Header with logo */
 header {
    width: 100%;
    height: 150px;
}

header img {
  float: right;
  width: 20vw;
  margin: 2vw;
}

/* Font */
*, body, html {
  font-family: "Montserrat", regular;
}

h1 {
  font-size: 2em;
}

/* Form */
main {
  text-align: center;
  color: #142a50;
  width: 90:
}

#formTitle {
  font-weight: bolder;
  text-algin: left;
  width: 80%;
  margin: auto;
  padding: 20px;
}

#form {
  background-color: white;
  width: 80%;
  margin: auto;
  padding: 20px;
}

#form label {
  float: left;
  margin: 5px;
}

#form input {
  background-color:#e5e5e5;
  border: none;
  width: 100%;
  height: 30px;
  font-size: 1.5em;
}

#form #description {
  height: 200px;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#btnRow {
  width: 90%;
  height: 5vw;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  margin-top: 2vw;
}

.btn {
  color:white;
  background-color: #daab27;
  font-weight: bolder;
  font-size: larger;
  border-radius: 10px;
  padding: 0 15px;
  height: 50px;
  border: none;
}

/* Search */
#search {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.searchBtn {
  widht: 100%;
  height: 50px;
  background-color:white;
}
.searchBtn img{
  height: 100%;
  width: 20px;
}

