/* Header with logo */
 header {
    width: 100%;
    height: 150px;
}

header img {
  float: right;
  width: 20vw;
  margin: 2vw;
}

/* Font */
*, body, html {
  font-family: "Montserrat", regular;
}

html {
  padding-bottom: 50px;
}

h1 {
  font-size: 2em;
}

/* Form */
main {
  text-align: center;
  color: #142a50;
  width: 90%;
  margin: auto;
}

.sectionTitle {
  font-family: "Montserrat", bolder !important;
  font-weight: bolder;
  text-align: left;
  width: 90%;
  margin: auto;
}

#form {
  background-color: white;
  width: 90%;
  margin: 20px auto;
  padding: 10px 0;
}

#form form {
  margin: 0 20px;
}

#form label {
  float: left;
  margin: 10px 0;
  width: 100%;
  text-align: left;
}

#form input {
  background-color:#e5e5e5;
  border: none;
  width: 100%;
  font-size: 1.5em;
}

#form #description {
  height: 200px;
}

#btnRow {
  width: 100%;
  height: 5vw;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  margin: 2vw 0;
}

.btn {
  color:white;
  background-color: #daab27;
  font-weight: bolder;
  font-size: larger;
  border-radius: 10px;
  padding: 0 15px;
  height: 50px;
  border: none;
}

/* Search */
#search {
  width: 90%;
  margin: 20px auto;
}

.search-container {
  width: 100%;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
}

.search-container input {
  font-size: 1.5em;
  width: 90%;
  border: none;
}

.search-container img {
  height: 100%;
  align-self: flex-end;
}

.searchBtn div{
  widht: 100%;
  height: 40px;
  background-color:white;
}
.searchBtn img{
  height: 100%;
  float: right;
}

/* Date and Time */
.dateNTime input{
  display: inline-block;
  float: left;
}

.date {
  width: 20% !important;
  margin-right: 10px !important;
}

.time {
  width: 20% !important;
}

/* Search Result */
.searchResultsTitle {
  font-family: "Montserrat", bolder !important;
  font-weight: bolder;
  text-align: left;
  width: 100%;
  margin: auto;
}

.resultsSub {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
}

.resultsSub h1 {
  
}

.resultsSub a {
  color: white;
  background-color: #142a50;
  padding: 10px;
  border-radius: 10px;
}
